.movieRow {
    margin-bottom: 30px;
}

.movieRow h2 {
    margin: 0px 0px 0px 30px;
}

/* lista total */
.movieRow--listarea {
    overflow-x: hidden; /* tudo o que passar da tela na horizontal será cortado */
    padding-left: 30px;
}

.movieRow--list {
    transition: all ease 0.5s;
}

/* itens um ao lado do outro */
.movieRow--item {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

/* aumenta a escala da imagem ao descansar o cursos em cima do cartaz do filme */
.movieRow--item img:hover {
    transform: scale(1);
}

.movieRow--left,
.movieRow--right {
    position: absolute;
    width: 40px;
    height: 225px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: RGBA (0, 0, 0, 0.6);
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}

.movieRow--left {
    left: 0;
}

.movieRow--right {
    right: 0;
}

/*opacidade das setas*/
.movieRow:hover .movieRow--left,
.movieRow:hover .movieRow--right {
    opacity: 1;
}

/*configurações para tela de 760px - retirada da opacidade das setas*/
@media (max-width: 760px) {
    .movieRow--left,
    .movieRow--right {
        opacity: 1;
    } 
}
